* {
    font-family: Gilroy;
    box-sizing: border-box;
}

.offers {
    margin-top: 162px;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.offers__content {}

.offers__main-title {
    font-weight: 600;
    font-size: 46px;
    line-height: 100%;
    text-align: center;
    color: #22253b;
}

.offers__list {
    margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}

.offers__card {
    list-style: none;
    background-color: #EAF2F5;
    border-radius: 30px;
    width: 270px;
    padding: 50px 35px 31px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.offers__card-image {}

.offers__card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 116%;
    text-align: center;
    color: #22253b;
}

.offers__card-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 115%;
    text-align: center;
    color: #22253b;
}


@font-face {
    font-family: Gilroy;
    src: url(fonts/Gilroy-Light.otf);
}